@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sigmar+One&display=swap');


*{
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

body {
    font-family: 'Poppins', sans-serif;
    /* background: #3C3B3F;   */
    /* background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);  
    background: linear-gradient(to bottom, #605C3C, #3C3B3F);  */
    /* background: #44A08D; */
/* background: -webkit-linear-gradient(to bottom, #093637, #44A08D);  
background: linear-gradient(to bottom, #093637, #44A08D);  */
    height:100vh;
}

/*Nav Section*/

.navbar {
    position: relative;
}

nav{
    background-image: url("./assets/images/navbar.png");
    width: 1600px;
    margin: -8px 0 0 160px;
    display:flex;
    justify-content:space-between;
    background-repeat: no-repeat;
    height: 90px;
}

.set-ui-position{
    padding: 10px 0 0 180px;
}


.ui-text #titlePosition, .ui-text img{
    position: absolute;
}

#titlePosition{
    width: 376px;
    height: 141px;
    display: grid;
    place-items: center;
}

#titleShow{
    font-family: 'Sigmar One', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    color:#F8EFBA;
    -webkit-text-stroke: 2px #793618;
    /* padding: 30px 0 0 70px; */
}

ul{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    width: 400px;
    padding-right: 150px;
} 

li{
    /* border-radius: 20px; */
    padding:10px 30px 0 0;
    /* border:7px solid #793618;
    background-color: #E2A966; */
}

li a {
    font-size: 30px;
    text-decoration: none;
    font-family: 'Sigmar One', cursive;
    color:#F8EFBA;
    -webkit-text-stroke: 2px #793618;
}

li a:hover{
    cursor: pointer;
    font-size: 32px;
    color:#080808f6;
    -webkit-text-stroke: 2px #9e5a3a;
}

/*Welcome Section*/

.welcome-section {
    margin: 0 200px;

}

.hello {
    display: flex;
    height: 90vh;
}

.conA{
    width: 600px;
    margin:-100px auto auto auto;
}

.uiwelcome{
    width: 600px;
    height: 700px;
    background-image:url('./assets/images/uiwelcomeSection.png');
}

.name-container{
    width: 600px;
    display:flex;
    justify-content:center;
    margin: auto;
    text-align: center;   
    padding-top:420px; 
}


.myname{
    font-family: 'Sigmar One', cursive;
    font-weight: 700;
    font-size: 5rem;
    color:#F8EFBA;
    -webkit-text-stroke: 2px #793618
}



.position {
    width: 600px;
    padding-top:40px;
    text-align: center;
}

.myPostion{
    font-family: 'Sigmar One', cursive;
    font-size: 2rem;
    color:#F8EFBA;
    -webkit-text-stroke: 3px #793618
}


.conB{
    width: 700px;
    height: 700px;
    perspective: 1000px;
    margin:100px 0 0 150px;
}

.flip-inner{
    position: relative;
    width: 700px;
    height: 700px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.conB:hover .flip-inner{
    cursor: default;
    transform: rotateY(180deg);
}

.flipfront, .flipback{
    position: absolute;
    width: 700px;
    height: 700px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.textflip{
    width: 700px;
    position:absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: 'Sigmar One', cursive;
    color:#F8EFBA;
    -webkit-text-stroke: 4px #793618;
    padding-top: 80px;
    font-size: 60px;
}


.profile{
    width: 700px;
    border-radius: 50%;
    border:10px solid black;
}

.flipback{
    transform: rotateY(180deg);
}

.textflipBack{
    position:absolute;
    padding-top:50px;
    font-family: 'Sigmar One', cursive;
    font-size: 2rem;
    color:#F8EFBA;
    -webkit-text-stroke: 3px #793618
}

.textflipBack .titleflip{
    font-size:4rem;
}

.infoflip{
    padding-top:20px
}


/* Contact Section */

.contact-container{
    display:grid;
    place-items: center;
}

.title-contact-bg{
    width: 900px;
    position: absolute;
    padding:15px 0 0 330px;
}

.title-contact-bg img{
    position: absolute;
}

.title-contact-bg p{
    position: absolute;
    font-family: 'Sigmar One', cursive;
    font-weight: 700;
    font-size: 2rem;
    color:#F8EFBA;
    -webkit-text-stroke: 2px #793618;
    padding:20px 0 0 40px;
}

.tcb{
    padding-top:100px;
    width: 900px;
}

.contact-bg{
    background:url("./assets/images/contactUi.png");
    padding: 80px;
    height: 790px;
    text-align: center;
}

.contact-bg p{
    font-family: 'Sigmar One', cursive;
    font-weight: 700;
    font-size: 2rem;
    color:#F8EFBA;
    -webkit-text-stroke: 2px #793618;
    padding-top: 70px;
}
/* .titel-contact-bg{
    text-align: center;
} */

/* Work Section */

.work-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: auto;
}

.item{
    /* width: 400px;
    height: 250px; */
    margin: 40px 50px;
}

.item img{
    width: 100%;
}

.item .item-title{
    text-align: center;
    padding-top: 10px;
}
